In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('diamonds.csv', na_values = ['unknown'])
col = df.columns.values.tolist()[1:]

In [2]:
# Columns with NaN content > null_threshold will not be used as features
null_threshold = 0.0001

corrupt_col = []
for i in col:
  if (df[i].isna().sum()/len(df) > null_threshold):
    corrupt_col.append(i)

for i in corrupt_col:
  df = df.drop(i, axis=1)

col = df.columns.values.tolist()[1:]

In [3]:
# feature data frames with one-hot encoding to concatinate once encoded
cut = pd.get_dummies(df.cut, prefix='cut')
carat_weight = pd.DataFrame(df['carat_weight'])
lab = pd.get_dummies(df.lab, prefix='lab')
depth_percent = pd.DataFrame(df['depth_percent'])
table_percent = pd.DataFrame(df['table_percent'])
meas_length = pd.DataFrame(df['meas_length'])
meas_width = pd.DataFrame(df['meas_width'])
meas_depth = pd.DataFrame(df['meas_depth'])
total_sales_price = pd.DataFrame(df['total_sales_price'])

# convert clarity to int 0-10
clarity = pd.DataFrame(df['clarity'])
for i in range(len(clarity)):
  grade = ['I3', 'I2', 'I1', 'IF', 'SI3', 'SI2', 'SI1', 'VS2', 'VS1', 'VVS2', 'VVS1']
  clarity['clarity'][i] = grade.index(clarity['clarity'][i])

# convert symmetry to int 0-4
symmetry = pd.DataFrame(df['symmetry'])
for i in range(len(symmetry)):
  sym = ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent']
  symmetry['symmetry'][i] = sym.index(symmetry['symmetry'][i])

# convert polish to int 0-4
polish = pd.DataFrame(df['polish'])
for i in range(len(polish)):
  pol = ['Poor', 'Fair', 'Good', 'Very Good', 'Excellent']
  polish['polish'][i] = pol.index(polish['polish'][i])

In [4]:
# combining features into cleaned dataframe
frames = [clarity, carat_weight, lab, symmetry, polish, depth_percent, table_percent, meas_length, meas_width, meas_depth, total_sales_price]
clean = pd.concat(frames, axis=1)

# update list of column names
col = clean.columns.values.tolist()[1:]

In [5]:
clean.head(20)

,clarity,carat_weight,lab_GIA,lab_HRD,lab_IGI,symmetry,polish,depth_percent,table_percent,meas_length,meas_width,meas_depth,total_sales_price
0,9,0.09,0,0,1,3,3,62.7,59.0,2.85,2.87,1.79,200.0
1,9,0.09,0,0,1,3,3,61.9,59.0,2.84,2.89,1.78,200.0
2,9,0.09,0,0,1,3,3,61.1,59.0,2.88,2.90,1.77,200.0
3,9,0.09,0,0,1,3,3,62.0,59.0,2.86,2.88,1.78,200.0
4,9,0.09,0,0,1,3,4,64.9,58.5,2.79,2.83,1.82,200.0
5,9,0.09,0,0,1,3,3,60.8,57.0,2.95,2.99,1.81,200.0
6,9,0.09,0,0,1,3,3,64.0,57.0,2.85,2.88,1.84,200.0
7,9,0.09,0,0,1,3,3,62.1,59.5,2.86,2.89,1.78,200.0
8,9,0.09,0,0,1,3,3,63.5,59.5,2.89,2.92,1.85,200.0
9,9,0.09,0,0,1,3,3,63.2,57.0,2.83,2.87,1.80,200.0
10,9,0.09,0,0,1,3,3,62.2,58.5,2.82,2.85,1.77,200.0
11,9,0.09,0,0,1,3,3,62.1,59.5,2.83,2.86,1.77,200.0
12,9,0.09,0,0,1,3,3,61.8,58.5,2.85,2.89,1.77,200.0
13,10,0.09,0,0,1,3,3,62.0,57.5,2.83,2.87,1.77,200.0
14,9,0.09,0,0,1,4,3,63.6,58.0,2.81,2.84,1.79,200.0
15,9,0.09,0,0,1,3,3,61.8,58.0,2.88,2.90,1.78,200.0
16,9,0.09,0,0,1,3,3,62.3,55.5,2.88,2.91,1.80,200.0
17,9,0.09,0,0,1,3,3,61.2,60.0,2.92,2.94,1.79,200.0
18,9,0.09,0,0,1,3,3,61.0,60.0,2.91,2.92,1.78,200.0
19,9,0.09,0,0,1,3,3,64.8,60.0,2.81,2.83,1.83,200.0

In [6]:
clean.tail(20)

,clarity,carat_weight,lab_GIA,lab_HRD,lab_IGI,symmetry,polish,depth_percent,table_percent,meas_length,meas_width,meas_depth,total_sales_price
111396,9,0.51,0,0,1,4,4,60.5,58.00,5.15,5.16,3.12,2074.0
111397,2,0.70,1,0,0,3,4,63.7,58.00,5.61,5.64,3.58,2074.0
111398,8,0.60,1,0,0,3,3,68.9,57.00,6.43,4.14,2.85,2074.0
111399,9,0.50,0,0,1,4,3,0.6,0.55,5.09,5.12,3.19,2074.0
111400,10,0.50,1,0,0,3,4,71.7,71.00,4.30,4.29,3.07,2074.0
111401,8,0.41,1,0,0,4,4,63.1,57.00,4.72,4.76,2.99,2074.0
111402,5,0.50,1,0,0,4,4,64.2,57.00,4.96,4.99,3.19,2074.0
111403,6,0.50,1,0,0,3,3,64.3,57.00,6.69,4.36,2.81,2074.0
111404,9,0.50,1,0,0,3,3,73.8,68.00,5.21,3.66,2.70,2074.0
111405,10,0.50,1,0,0,3,3,67.2,72.00,5.40,3.84,2.58,2074.0
111406,8,0.50,1,0,0,3,3,55.9,61.00,5.00,5.43,3.03,2074.0
111407,6,0.50,1,0,0,3,4,61.2,60.00,5.08,5.12,3.12,2074.0
111408,2,0.48,1,0,0,2,2,76.2,55.00,4.76,4.15,3.16,2074.0
111409,5,0.54,1,0,0,4,4,62.6,56.00,5.19,5.22,3.26,2074.0
111410,7,0.50,1,0,0,4,3,62.8,54.00,5.04,5.08,3.18,2074.0
111411,7,0.50,1,0,0,4,4,62.2,56.00,5.06,5.09,3.16,2074.0
111412,10,0.60,1,0,0,3,4,59.3,64.00,5.43,5.50,3.24,2074.0
111413,8,0.50,1,0,0,4,4,62.4,60.00,5.03,5.07,3.15,2074.0
111414,7,0.61,1,0,0,4,4,62.4,58.00,5.39,5.43,3.38,2074.0
111415,5,0.54,1,0,0,4,4,62.6,56.00,5.19,5.22,3.26,NaN